@model IEnumerable<CMDB01.Models.ContactLinks>

@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/flipCards.css" rel="stylesheet" />
<link href="~/Content/chosen.min.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>

<h2>Links</h2>


<div class="row">
    <div class="col-md-3">
        <h4>Search...</h4>
        @Html.ListBox("conLinkedOptions", ViewBag.conLinkedOptions as MultiSelectList, new { @id = "conLinkedOptions", @class = "form-control chosen-select4", style = "width:300px;" })

        <a class="btn btn-warning glyphicon glyphicon-filter" id="btnFilter"></a>
        <a class="btn btn-danger glyphicon glyphicon-refresh" id="btnReset"></a>
        <a class="btn btn-primary glyphicon glyphicon-envelope" id="btnEmail" style="width:70px"></a>

        <hr />

        @*Hidden Fields*@
        <input type="hidden" name="Options" id="Options" />
        @*<input type="hidden" name="OptionsIds" id="OptionsIds" />*@


        @* Render Filter box before Showing the Cards *@
        <script> $('#conLinkedOptions').chosen(); </script>
        @*<script> $('#multiSearch').chosen(); </script>*@
        @* ------------------------------------------ *@

        <h5>Account</h5>
        @foreach (var lnk in ViewBag.conLinkedOptions)
        {
            if (lnk.Group.Name == "Accounts")
            {
                <span class="badge badge-success">@lnk.Text</span>
            }
        }
        <hr />
        <h5>Data Center</h5>
        @foreach (var lnk in ViewBag.conLinkedOptions)
        {
            if (lnk.Group.Name == "Data Centers")
            {
                <span class="badge badge-success">@lnk.Text</span>
            }
        }
        <hr />
        <h5>Server Farm</h5>
        @foreach (var lnk in ViewBag.conLinkedOptions)
        {
            if (lnk.Group.Name == "Server Farms")
            {
                <span class="badge badge-success">@lnk.Text</span>
            }
        }
        <hr />
        <h5>Datasource</h5>
        @foreach (var lnk in ViewBag.conLinkedOptions)
        {
            if (lnk.Group.Name == "Datasources")
            {
                <span class="badge badge-success">@lnk.Text</span>
            }
        }
        <hr />
        <h5>Category</h5>
        @foreach (var lnk in ViewBag.conLinkedOptions)
        {
            if (lnk.Group.Name == "Categories")
            {
                <span class="badge badge-success">@lnk.Text</span>
            }
        }
        <hr />
    </div>
    <div class="col-md-8">
        @foreach (var item in ViewBag.cList)
        {

        }
    </div>
</div>
<script>
    $("#btnSearch").click(function () {
        window.location = "/contacts/index?SearchValue=" + $("#SearchValue").val()
            + "&accountLst=" + $("#accountLst").val()
            + "&datacenterLst=" + $("#datacenterLst").val()
            + "&datasourceLst=" + $("#datasourceLst").val()
            + "&serverfarmLst=" + $("#serverfarmLst").val();
    });


    $("#btnReset").click(function () {
        window.location = "/contacts/index";
    });

    function rotateCard(btn) {
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if ($card.hasClass('hover')) {
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    };

    $('#btnFilter').on("click", function (event, params) {
        var selectedDimensionValues = [];
        //push the selected Values to the Hidden iput tags - Softwares
        $("#conLinkedOptions :selected").each(function () {
            selectedDimensionValues.push($(this).text());
        });

        //$("#OptionsIds").val(selectedDimensionValues);

        window.location = "/contacts/Links?Options=" + selectedDimensionValues;
    });
</script>