@model CMDB01.Models.account

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:dodgerblue">@Html.DisplayFor(model => model.Name)</h2>

<div class="row">

    <div class="col-md-6">
        <h4 style="color:lightcoral">Account Details</h4>
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.UltimateId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UltimateId)
            </dd>

            <dt>
                    @Html.DisplayNameFor(model => model.ContractType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ContractType)
                </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Opportunity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Opportunity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProjectorProject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProjectorProject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Billable)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Billable)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RequestIMS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RequestIMS)
            </dd>
            @*<dt>
                    @Html.DisplayNameFor(model => model.LinktoC4S)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LinktoC4S)
                </dd>*@
        </dl>
    </div>
    <div class="col-md-4">
        <h4 style="color:lightcoral">Account Contacts</h4>
        <p class="card-text" style="margin-left: 20px; margin-right: 20px;  padding-left:1em">
            @if (Model.AccountContacts.Count > 0)
            {
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Category</th>
                        <th>Contacts</th>
                    </tr>
                    @foreach (var eC in Model.AccountContacts.Select(a => new { a.entityCategory }).Distinct())
                    {
                        <tr>
                            <td>@eC.entityCategory</td>
                            <td>
                                @foreach (var srv in Model.AccountContacts.Where(a => a.entityCategory == eC.entityCategory))
                                {
                                    <a title="Email" href="mailto:@srv.contact.email"> <i class="glyphicon glyphicon-envelope"></i></a> @srv.contact.Name<br />

                                }
                            </td>
                        </tr>
                    }
                </table>
            }

        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
    <h4 style="color:lightcoral">Account Server Farms</h4>

    <p class="card-text" style="margin-left: 20px; margin-right: 20px;  padding-left:1em">
    @if (Model.servers.Count > 0)
    {
        <table class="table table-bordered table-striped">
            <tr>
                <th>Server</th>
                <th>Datasources</th>
            </tr>
            @foreach (var srv in Model.servers)
            {
                <tr>
                    <th>
                        <a class="glyphicon glyphicon-th-large" href="/servers/details/@srv.Id"></a> <b>@srv.Name</b> <br />
                        @if (srv.ServerContacts.Count > 0)
                        {
                            <table class="table table-bordered table-striped">
                                <tr>
                                    <th>Category</th>
                                    <th>Contacts</th>
                                </tr>
                                @foreach (var eC in srv.ServerContacts.Select(a => new { a.entityCategory }).Distinct())
                                {
                                    <tr>
                                        <td>@eC.entityCategory</td>
                                        <td>
                                            @foreach (var cn in srv.ServerContacts.Where(a => a.entityCategory == eC.entityCategory))
                                            {
                                                <a title="Email" href="mailto:@cn.contact.email"> <i class="glyphicon glyphicon-envelope"></i></a> @cn.contact.Name<br />

                                            }
                                        </td>
                                    </tr>
                                }
                            </table>
                        }
                    </th>
                    <th>
              
                            @if (srv.datasources.Count > 0)
                            {
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        <th>Datasource</th>
                                        <th>Datasource Contacts</th>
                                    </tr>
                                    @foreach (var ds in srv.datasources)
                                    {
                                        <tr>
                                            <td>
                                                @if (ds.Status == "Decommissioned")
                                                {
                                                    <a  style="color:red" title="Datasource Details" href="/datasources/details/@ds.Id">
                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                    </a>
                                                    @ds.Name  <br />
                                                    @ds.Description <br />
                                                    <label style="color:red">@ds.Status</label>  
                                                }
                                                else
                                                {
                                                    <a title="Datasource Details" href="/datasources/details/@ds.Id">
                                                        <i class="glyphicon glyphicon-info-sign"></i>
                                                    </a>
                                                    @ds.Name <br />
                                                    @ds.Description
                                                }
                          

                                        
                                            </td>
                                            <td>
                                                @if (@ds.DatasourceContacts.Count > 0)
                                                {
                                                    <table class="table table-bordered table-striped">
                                                        @*<tr>
                                                                <th>Category</th>
                                                                <th>Contacts</th>
                                                            </tr>*@
                                                        @foreach (var eC in @ds.DatasourceContacts.Select(a => new { a.entityCategory }).Distinct())
                                                        {
                                                            <tr>
                                                                <td>@eC.entityCategory</td>
                                                                <td>
                                                                    @foreach (var con in @ds.DatasourceContacts.Where(a => a.entityCategory == eC.entityCategory))
                                                                    {
                                                                        <a title="Email" href="mailto:@con.contact.email"> <i class="glyphicon glyphicon-envelope"></i></a> @con.contact.Name<br />

                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </table>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>
                            }
                        
                    </th>
                </tr>
            }
            

            
        </table>
    }
    </p>

        @*<p class="card-text" style="margin-left: 20px; margin-right: 20px;  padding-left:1em">

            @foreach (var srv in Model.servers)
            {
            <a class="glyphicon glyphicon-th-large" href="/servers/details/@srv.Id"></a> <b>@srv.Name</b> <br />
                foreach (var ds in @srv.datasources)
                {
            <a style="padding-left:1em" class="glyphicon glyphicon-list-alt" href="/datasources/details/@ds.Id"></a>  @ds.Name <br />
                }
            <br />
            }
            <br />
        </p>*@

    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4 style="color:lightcoral">Account Comments</h4>
        <p class="card-text" style="margin-left: 20px; margin-right: 20px;  padding-left:1em">
            @if (ViewBag.AccountCMs.Count > 0)
        {
                <table id="ccc" class="table table-bordered table-striped">
                    <tr>
                        <th></th>
                        <th>On</th>
                        <th>By</th>
                        <th>Type</th>
                        <th>Comment</th>
                        <th>URL</th>
                    </tr>
                    @foreach (var cm in ViewBag.AccountCMs)

                {
                        <tr>
                            <th>
                                @if (@cm.featured == true)
                            {
                                    <i class='glyphicon glyphicon-star' style="color:gold"></i>
                            }
                            </th>
                            <th>@cm.timestamp</th>
                            <th>@cm.user</th>
                            <th>@cm.Type</th>
                            <th>@cm.Comment</th>
                            <th>
                                @if (!string.IsNullOrEmpty( @cm.Link ))
                            {
                                    <a href=" @cm.Link " target="_blank"><i class='glyphicon glyphicon-globe'></i></a>
                            }



                            </th>
                        </tr>

                }
                </table>

        }

        </p>
    </div>
</div>
<hr />
<div class="row">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>