@model IEnumerable<CMDB01.Models.account>

@{
    ViewBag.Title = "Accounts Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/flipCards.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>*@

<h2>Accounts</h2>


<div class="row">
    <form class="navbar-form navbar-left">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </form>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group form-inline">
            <input type="text" id="txtSearch" class="form-control" placeholder="Search ...">
        </div>
        <a class="btn btn-primary glyphicon glyphicon-search" id="btnSearch"></a>
        <a class="btn btn-danger glyphicon glyphicon-refresh" id="btnReset"></a>
        <br />
        <br />
        @foreach (var item in Model.OrderBy(x => x.Name).Select(a => a.Name.Substring(0, 1).ToUpper()).Distinct())
        {
        <a href="/accounts/index?StartWith=@item">@item</a>
        }
        <a href="/accounts/index">...</a>
    </form>
    <br />

</div>
<hr />

<div class="col-md-2">

    <h4>Status</h4>
    @foreach (var st in Model.OrderBy(r => r.Status).Select(a => a.Status).Distinct())
    {
        if (!string.IsNullOrEmpty(st))
        {
            <a href="/accounts/index?accST=@st">@st</a> <br />
        }
        else
        {
            <a href="/accounts/index?accST=null">null</a><br />
        }
    }
    <hr />
    <h4>Contract Type</h4>
    @foreach (var ct in Model.OrderBy(r => r.ContractType).Select(a => a.ContractType).Distinct())
    {
        if (!string.IsNullOrEmpty(ct))
        {
            <a href="#">@ct</a> <br />
        }
        else
        {
            <a href="#">null</a><br />
        }
    }
    <hr />
    <h4>IMS</h4>
    @foreach (var ims in Model.OrderBy(r => r.RequestIMS).Select(a => a.RequestIMS).Distinct())
    {
        if (!string.IsNullOrEmpty(ims))
        {
            <a href="/accounts/index?ims=@ims">@ims</a> <br />
        }
        else
        {
            <a href="/accounts/index?ims=null">null</a><br />
        }

    }
    <hr />

    <h4>Billable</h4>
    @foreach (var bl in Model.OrderBy(r => r.Billable).Select(a => a.Billable).Distinct())
    {
        if (!string.IsNullOrEmpty(bl))
        {
            <a href="/accounts/index?bl=@bl">@bl</a> <br />
        }
        else
        {
            <a href="/accounts/index?bl=null">null</a><br />
        }
    }

</div>


<div class="col-md-10">
    @foreach (var item in Model.OrderBy(a => a.Name))
            {
        <div>
            <div class="col-md-3">
                <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front" style="overflow-y:auto">
                            <div class="card-block" style="margin-left: 10px; margin-right: 10px; ">
                                <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                </button>
                                <a class="btn btn-simple" rel="tooltip" title="Edit" href="@Url.Action("Edit", "accounts", new { id = item.Id})">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a class="btn btn-simple" rel="tooltip" title="Delete" href="@Url.Action("Delete", "accounts", new { id = item.Id })">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                                <button class="btn btn-simple openComment" rel="tooltip" title="Comments" data-toggle="modal" data-target="#myModal" data-id=@item.Id data-name=@item.Name>
                                    <i class="glyphicon glyphicon-comment"></i>
                                </button>
                                <br />

                                <a class="card-title" style="color:cornflowerblue" href="/accounts/details/@item.Id" >@item.Name</a>
                                <div>
                                    <p class="card-text">
                                        <b>Ultimate Id:</b> @item.UltimateId<br />
                                        <b>Contract Type:</b> @item.ContractType <br />
                                        <b>Status:</b> @item.Status <br />
                                        <b>Opportunity:</b> @item.Opportunity <br />
                                        <b>Projector Project:</b> @item.ProjectorProject <br />
                                        <b>Billable:</b> @item.Billable <br />
                                        <b>Request IMS:</b> @item.RequestIMS <br />
                                        @*<b>Success Admin Level:</b> @item.SuccessAdminLevel <br />
                                            <b>Link to C4S:</b> <a href="@item.LinktoC4S" target="_blank">click here</a> <br />*@
                                    </p>
                                </div>
                            </div>
                            <br />

                            <div class="card-block" style="margin-left: 10px; margin-right: 10px">

                                <p class="card-text">
                                    <b>Account Contacts:</b> <br />

                                    @foreach (var cn in @item.AccountContacts)
                                    {
                                        <span></span>
                                        <a title="Email" href="mailto:@cn.contact.email">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </a>
                                        <i class="glyphicon glyphicon-phone"></i>
                                        @cn.contact.Name
                                        <br />
                                    }

                                </p>
                            </div>
                        </div>
                        <div class="back" style="overflow-y:auto">
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="glyphicon glyphicon-refresh"></i>
                            </button>


                            <div>
                                <p class="card-text" style="margin-left: 10px; margin-right: 10px;">
                                    <b>Account Server Farms:</b>
                                </p>
                                <p class="card-text" style="margin-left: 10px; margin-right: 10px;  padding-left:0.5em">
                                    @if(@item.servers.Count > 0)
                                    {

                                    
                                    foreach (var srv in @item.servers)
                                    {

                                        <a class="glyphicon glyphicon-th-large" href="/servers/details/@srv.Id"></a> <b>@srv.Name</b> <br />
                                        if (@srv.datasources.Count > 0)
                                        {
                                            foreach (var ds in @srv.datasources)
                                            {

                                                if (ds.Status == "Decommissioned" )
                                                {
                                                <a style="color:red; padding-left:1em" class="glyphicon glyphicon-list-alt" href="/datasources/details/@ds.Id"></a>  @ds.Name <br />
                                                    }
                                                    else
                                                    {
                                                        <a style="padding-left:1em" class="glyphicon glyphicon-list-alt" href="/datasources/details/@ds.Id"></a>  @ds.Name <br />

                                                    }

                                                }
                                            }
                                        }
                                    
                                        <br />
                                    }
                                    <br />
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    }
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:850px">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Account Comments</h4>
            </div>
            <div class="modal-body">
                <div id="aaa">

                </div>
                <table id="ccc" class="table table-bordered table-striped"  >

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    $("#btnSearch").click(function () {
        window.location = "/accounts/index?SearchValue=" + $("#txtSearch").val();
    });

    $("#btnReset").click(function () {
        window.location = "/accounts/index";
    });

    function rotateCard(btn) {
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if ($card.hasClass('hover')) {
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    };

    $(document).on("click", ".openComment", function () {
        var AccountId = $(this).data('id');
        var AccountName = $(this).data('name');

        $(".modal-title").text("Account " + AccountName + " Comments");
        var url = "@Url.Action("Create", "comments", new { entity_id = "js-id", entity = "Account" })".replace("js-id", encodeURIComponent(AccountId));

        $("#aaa").empty();
        $("#aaa").append("<a href=" + url + " class=\"btn btn- simple\"><i class=\"glyphicon glyphicon-plus\"></i></a>");

        $.ajax({
            datatype: 'json',
            type: "POST",
            url: '@Url.Action("GetComments")',
            data: { AccountId: AccountId },
            success: function (returndata) {
                if (returndata.ok) {
                    var items = "";
                    items += "<tr> <th></th> <th>On</th> <th>By</th> <th>Type</th> <th>Comment</th> <th>URL</th> </tr>";                    $.each(returndata.data, function (i, itemdata) {
                        var date = new Date(parseInt(itemdata.timestamp.substr(6))).toLocaleDateString();
                        var LINK = "";
                        if (itemdata.Link) {
                            LINK = "<a target=\"_blank\" href='" + itemdata.Link + "'>" + "<i class='glyphicon glyphicon-globe'></i>" + "</a>";
                        }
                        var TYPE = "";
                        if (itemdata.Type) {
                            TYPE = itemdata.Type;
                        }
                        var featured = "";
                        if (itemdata.featured) {
                            featured = "<i class='glyphicon glyphicon-star' style='color:gold'></i>";
                        }
                        items += '<tr> <td>' + featured + '</td> <td>' + date + "</td> <td>" + itemdata.user + "</td> <td>" + TYPE + "</td> <td>" + itemdata.Comment + "</td> <td>" + LINK + " </td>";
                    });
                    $("#ccc").empty();
                    $("#ccc").append(items);
                }
            }
        });
    });
</script>

