@model IEnumerable<CMDB01.Models.serverFarms>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-1.12.4.min.js"></script>*@
<link href="~/Content/flipCardS.css" rel="stylesheet" />

<link href="~/Content/chosen.min.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>

<h2>Server Farms</h2>

<div class="row">
    <form class="navbar-form navbar-left">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        
    </form>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group form-inline">
            <input type="text" id="txtSearch" class="form-control" placeholder="Search ...">
        </div>
        <a class="btn btn-primary glyphicon glyphicon-search" id="btnSearch"></a>
        <br />
        
        @foreach (var item in Model.OrderBy(x => x.Name).Select(a => a.Name.Substring(0, 1).ToUpper()).Distinct())
        {
            <a href="/servers/index?StartWith=@item">@item</a>
        }
        <a href="/servers/index">...</a>
    </form>
    
</div>
<hr />


<div class="col-md-3">
    <h4>Search...</h4>
    <select multiple class="form-control chosen-select4" data-placeholder="Select Your Options" id="multiSearch" style="width:300px">
        <optgroup label="Status">
            @foreach (var st in Model.OrderBy(r => r.Status).Select(a => a.Status).Distinct())
            {
                if (!string.IsNullOrEmpty(st))
                {
                    <option value="sfST=@st">@st</option>
                }
                else
                {
                    <option value="sfST=null">null</option>
                }
            }
        </optgroup>
        <optgroup label="Status">
            @foreach (var prp in Model.OrderBy(r => r.Purpose).Select(a => a.Purpose).Distinct())
            {
                if (!string.IsNullOrEmpty(prp))
                {
                    <option value="rl=@prp">@prp</option>
                }
                else
                {
                    <option value="rl=null">null</option>
                }
            }
        </optgroup>
        <optgroup label="Data Centers">
            @foreach (var dc in Model.OrderBy(r => r.DataCenter).Select(a => a.DataCenter).Distinct())
            {
                if (!string.IsNullOrEmpty(dc))
                {
                    <option value="dc=@dc">@dc</option>
                }
                else
                {
                    <option value="dc=null">null</option>
                }

            }
        </optgroup>
        <optgroup label="Deployed Version">
            @foreach (var ver in Model.OrderBy(r => r.DeployedVersion).Select(a => a.DeployedVersion).Distinct())
            {
                if (!string.IsNullOrEmpty(ver))
                {
                    <option value="dv=@ver">@ver</option>
                }
                else
                {
                    <option value="dv=null">null</option>
                }
            }
        </optgroup>
        <optgroup label="Account">
            @foreach (var acc in Model.OrderBy(r => r.account.Name).Select(a => a.account.Name).Distinct())
            {
                if (!string.IsNullOrEmpty(acc))
                {
                    <option value="acc=@acc">@acc</option>
                }
                else
                {
                    <option value="acc=null">null</option>
                }
            }
        </optgroup>
    </select>
    <a class="btn btn-warning glyphicon glyphicon-filter" id="btnFilter"></a>
    <a class="btn btn-danger glyphicon glyphicon-refresh" id="btnReset"></a>
    <span class="count" style="font-size:larger" >
        <a class="badge">@Model.Count() </a></span>
    <hr />

    @*Hidden Fields*@
    <input type="hidden" name="Options" id="Options" />


    @* Render Filter box before Showing the Cards *@
    <script> $('#multiSearch').chosen(); </script>
    @* ------------------------------------------ *@


    <h5>Status</h5>
    @foreach (var st in Model.OrderBy(r => r.Status).Select(a => a.Status).Distinct())
    {
        if (!string.IsNullOrEmpty(st))
        {
            <span class="badge badge-success">@st</span>
            @*<a href="/servers/index?sfST=@st">@st</a> <br />*@
        }
        else
        {
            <span class="badge badge-success">null</span>
            @*<a href="/servers/index?sfST=null">null</a><br />*@
        }

    }
    <hr />
    <h5>Deployed Version</h5>
    @foreach (var ver in Model.OrderBy(r => r.DeployedVersion).Select(a => a.DeployedVersion).Distinct())
    {
        if (!string.IsNullOrEmpty(ver))
        {
            <span class="badge badge-success">@ver</span>
            @*<a href="/servers/index?dv=@ver">@ver</a> <br />*@
        }
        else
        {
            <span class="badge badge-success">null</span>
            @*<a href="/servers/index?dv=null">null</a><br />*@
        }
    }
    <hr />
    <h5>Purpose</h5>
    @foreach (var purpose in Model.OrderBy(r => r.Purpose).Select(a => a.Purpose).Distinct())
    {
        if (!string.IsNullOrEmpty(purpose))
        {
            <span class="badge badge-success">@purpose</span>
            @*<a href="/servers/index?rl=@purpose">@purpose</a> <br />*@
        }
        else
        {
            <span class="badge badge-success">null</span>
            @*<a href="/servers/index?rl=null">null</a> <br />*@
        }
    }
    <hr />
    <h5>Data Center</h5>
    @foreach (var dc in Model.OrderBy(r => r.DataCenter).Select(a => a.DataCenter).Distinct())
    {
        if (!string.IsNullOrEmpty(dc))
        {
            <span class="badge badge-success">@dc</span>
            @*<a href="/servers/index?dc=@dc">@dc</a> <br />*@
        }
        else
        {
            <span class="badge badge-success">null</span>
            @*<a href="/servers/index?dc=null">null</a><br />*@
        }

    }
    <hr />


    <h5>Account</h5>
    @foreach (var acc in Model.Where(x => x.account != null).OrderBy(r => r.account.Name).Select(a => a.account.Name).Distinct())
    {
        if (!string.IsNullOrEmpty(acc))
        {
            <span class="badge badge-success">@acc</span>
            @*<a href="/servers/index?acc=@acc">@acc</a> <br />*@
        }
        else
        {
            <span class="badge badge-success">null</span>
            @*<a href="/servers/index?acc=null">null</a><br />*@
        }
    }

</div>
<div class="col-md-8">

    @foreach (var item in Model.OrderBy(a => a.Name))
            {
        <div class="col-md-4">
            <div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="card-block" style="margin-left: 10px; margin-right: 10px;">
                            @if (@item.Status != null && @item.Status.ToLower() == "decommissioned")
                            {
                                <a class="btn-danger"><<  @item.Status.ToUpper() >></a> <br />
                            }
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="glyphicon glyphicon-refresh"></i>
                            </button>
                            <a class="btn btn-simple" rel="tooltip" title="Edit" href="@Url.Action("Edit", "servers", new { id = item.Id})">
                                <i class="glyphicon glyphicon-edit"></i>
                            </a>
                            <a class="btn btn-simple" rel="tooltip" title="Delete" href="@Url.Action("Delete", "servers", new { id = item.Id })">
                                <i class="glyphicon glyphicon-remove"></i>
                            </a>
                            <button class="btn btn-simple openComment" rel="tooltip" title="Comments" data-toggle="modal" data-target="#myModal" data-id=@item.Id data-name=@item.Name>
                                <i class="glyphicon glyphicon-comment"></i>
                            </button>

                            <br />
                            <a class="card-title" style="color:cornflowerblue" href="/servers/details/@item.Id" >@item.Name</a>
                            <div style="margin-left: 10px; margin-right: 10px;">
                                <p class="card-text">
                                    <b>Data Center:</b><br /> @item.DataCenter <br />

                                    <b>Deployed Version:</b><br /> @item.DeployedVersion <br />

                                    <b>Status:</b> @item.Status <br />

                                    <b>FQDN:</b><br /> @item.FQDN <br />

                                    <b>Purpose:</b><br /> @item.Purpose <br />
                                    <b>Architecture:</b><br /> @item.Architecture <br />

                                    <b>Server Farm IP:</b>  @item.ServerFarmIPAddress <br />
                                    @*<b>Purpose:</b> @item.Purpose <br />
    <b>Role:</b> @item.Role <br />
    <b>Architecture:</b> @item.NonTypicalArchitecture <br />
    <b>Custom SLA:</b> @item.CustomSLA <br />*@
                                </p>
                            </div>
                            <div class="text-center">
                                <div class="card-text" style="color:coral">
                                    <a rel="tooltip" title="Web Server URL" href="@item.WebServerURL" >
                                        <i class="glyphicon glyphicon-globe"></i>
                                    </a>
                                    <a rel="tooltip" title="Web Service Gateway URL" href="@item.WebServiceGatewayURL" >
                                        <i class="glyphicon glyphicon-link"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <br />
                    </div>
                    <div class="back" style="overflow-y:auto">
                        <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </button>

                        <p class="card-text" style="margin-left: 20px; margin-right: 20px;">
                            <b>Account Name:</b> <br />
                            <a href="/accounts/details/@item.account.Id">@item.account.Name<br /></a>
                            <br />

                            <b>Server Contacts:</b> <br />

                            @foreach (var cn in @item.ServerContacts.Select( a => new { a.contact.Name, a.contact.email}).Distinct())
                            {
                                <a title="Email" href="mailto:@cn.email">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                </a>
                                <i class="glyphicon glyphicon-phone"></i>
                                            @cn.Name
                                            <br />
                            }
                            <br />

                            <b>Server Data Sources:</b> <br />

                            @foreach (var ds in @item.datasources)

                            {
                                if (ds.Status == "Decommissioned")
                                {
                                    <a style="color:red" title="Datasource Details" href="datasources/details/@ds.Id">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </a>
                                }
                                else
                                {
                                    <a title="Datasource Details" href="datasources/details/@ds.Id">
                                        <i class="glyphicon glyphicon-info-sign"></i>
                                    </a>
                                }


                                @ds.Name
                                <br />
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="row"></div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:850px">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Server Comments</h4>
            </div>
            <div class="modal-body">
                <div id="aaa">

                </div>
                <table id="ccc" class="table table-bordered">
                    <tr>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<script>
    $("#btnSearch").click(function () {
        window.location = "/servers/index?SearchValue=" + $("#txtSearch").val();
    });


    $("#btnReset").click(function () {
        window.location = "/servers/index";
    });

    function rotateCard(btn) {
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if ($card.hasClass('hover')) {
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    };

    $(document).on("click", ".openComment", function () {
        var ServerId = $(this).data('id');
        var ServerName = $(this).data('name');

        $(".modal-title").text("Server " + ServerName + " Comments");
        var url = "@Url.Action("Create", "comments", new { entity_id = "js-id", entity = "Server" })".replace("js-id", encodeURIComponent(ServerId));

        $("#aaa").empty();
        $("#aaa").append("<a href=" + url + " class=\"btn btn- simple\"><i class=\"glyphicon glyphicon-plus\"></i></a>");

        $.ajax({
            datatype: 'json',
            type: "POST",
            url: '@Url.Action("GetComments")',
            data: { ServerId: ServerId },
            success: function (returndata) {
                if (returndata.ok) {
                    var items = "";
                    items += "<tr> <th></th> <th>On</th> <th>By</th> <th>Type</th> <th>Comment</th> <th>URL</th> </tr>";
                    $.each(returndata.data, function (i, itemdata) {
                        var date = new Date(parseInt(itemdata.timestamp.substr(6))).toLocaleDateString();
                        var LINK = "";
                        if (itemdata.Link) {
                            LINK = "<a target=\"_blank\" href='" + itemdata.Link + "'>" + "<i class='glyphicon glyphicon-globe'></i>" + "</a>";
                        }
                        var TYPE = "";
                        if (itemdata.Type) {
                            TYPE = itemdata.Type;
                        }
                        var featured = "";
                        if (itemdata.featured) {
                            featured = "<i class='glyphicon glyphicon-star' style='color:gold'></i>";
                        }
                        items += '<tr> <td>' + featured +'</td> <td>' + date + "</td> <td>" + itemdata.user + "</td> <td>" + TYPE + "</td> <td>" + itemdata.Comment + "</td> <td>" + LINK + " </td>";
                    });
                    $("#ccc").empty();
                    $("#ccc").append(items);

                }
            }
        });

    });

    $('#btnFilter').on("click", function (event, params) {
        var selectedDimensionValues = [];
        //push the selected Values to the Hidden iput tags - Softwares
        $("#multiSearch :selected").each(function () {
            selectedDimensionValues.push($(this).val());
        });

        $("#Options").val(selectedDimensionValues);

        window.location = "/servers/Index?Options=" + selectedDimensionValues;
    });

    $('.count').each(function () {
        $(this).prop('Counter', 0).animate({
            Counter: $(this).text()
        }, {
                duration: 4000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
    });
</script>

