@model CMDB01.Models.datasource

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:dodgerblue">@Html.DisplayFor(model => model.Name)</h2>

<div class="row">

    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monitored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monitored)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayName("Server Farm")
        </dt>
        <dd>
            <a href="/servers/details/@Html.DisplayFor(model => model.ServerFarm.Id)">  @Html.DisplayFor(model => model.serverName)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServerFarm.DeployedVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerFarm.DeployedVersion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServerFarm.DataCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerFarm.DataCenter)
        </dd>
        <dt>
            @Html.DisplayName("Account")
        </dt>
        <dd>
            <a href="/accounts/details/@Html.DisplayFor(model => model.ServerFarm.account.Id)">  @Html.DisplayFor(model => model.AccountName)</a>
        </dd>


    </dl>


</div>
<hr />
<div class="row">
    <div class="col-md-4">

        <h4 style="color:lightcoral">Datasource Contacts</h4>
        <p class="card-text" style="margin-left: 20px; margin-right: 20px;  padding-left:1em">
            @if (Model.DatasourceContacts.Count > 0)
            {
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Category</th>
                        <th>Contacts</th>
                    </tr>
                    @foreach (var eC in Model.DatasourceContacts.Select(a => new { a.entityCategory}).Distinct())
                    {
                        <tr>
                            <td>@eC.entityCategory</td>
                            <td>
                                @foreach (var con in Model.DatasourceContacts.Where(a => a.entityCategory == eC.entityCategory))
                                {
                                    <a title="Email" href="mailto:@con.contact.email"> <i class="glyphicon glyphicon-envelope"></i></a> @con.contact.Name<br />

                                }
                            </td>
                        </tr>
                    }
                </table>
            }

        </p>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <h4 style="color:lightcoral">Datasource Comments</h4>
        <p class="card-text" style="margin-left: 20px; margin-right: 20px;  padding-left:1em">
            @if (ViewBag.DSCMs.Count > 0)
        {
                <table id="ccc" class="table table-bordered table-striped">
                    <tr>
                        <th></th>
                        <th>On</th>
                        <th>By</th>
                        <th>Type</th>
                        <th>Comment</th>
                        <th>URL</th>
                    </tr>
                    @foreach (var cm in ViewBag.DSCMs)

                {
                        <tr>
                            <th>
                                @if (@cm.featured == true)
                            {
                                    <i class='glyphicon glyphicon-star' style="color:gold"></i>
                            }
                            </th>
                            <th>@cm.timestamp</th>
                            <th>@cm.user</th>
                            <th>@cm.Type</th>
                            <th>@cm.Comment</th>
                            <th>
                                @if (!string.IsNullOrEmpty( @cm.Link ))
                            {
                                    <a href=" @cm.Link"><i class='glyphicon glyphicon-globe'></i></a>
                            }
                            else
                            {
                                    <i class='glyphicon glyphicon-globe'></i>
                            }


                            </th>
                        </tr>

                }
                </table>
        }


        </p>
    </div>
    </div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
