@model CMDB01.Models.datasource

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:dodgerblue">@Html.DisplayFor(model => model.Name)</h2>

<div class="row">

    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monitored)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monitored)
        </dd>

        <dt>
            @Html.DisplayName("Server Farm")
        </dt>
        <dd>
            <a href="/servers/details/@Html.DisplayFor(model => model.ServerFarm.Id)">  @Html.DisplayFor(model => model.serverName)</a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServerFarm.DeployedVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerFarm.DeployedVersion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServerFarm.DataCenter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServerFarm.DataCenter)
        </dd>
        <dt>
            @Html.DisplayName("Account")
        </dt>
        <dd>
            <a href="/accounts/details/@Html.DisplayFor(model => model.ServerFarm.account.Id)">  @Html.DisplayFor(model => model.AccountName)</a>
        </dd>


    </dl>


</div>
<hr />
<div class="row">
    <div class="col-md-4">

        <h4 style="color:lightcoral">Datasource Contacts</h4>
        <p class="card-text" style="margin-left: 20px; margin-right: 20px;  padding-left:1em">
            @if (Model.DatasourceContacts.Count > 0)
            {
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Contact Name</th>
                        <th>Comms</th>
                    </tr>
                    @foreach (var cn in Model.DatasourceContacts.Select(a => new { a.contact.Name, a.contact.email }).Distinct())
                    {
                        <tr>
                            <td><a title="Email" href="mailto:@cn.email"> <i class="glyphicon glyphicon-envelope"></i></a> @cn.Name</td>
                            <td>
                                @foreach (var sCN in Model.DatasourceContacts.Where(a => a.contact.Name == cn.Name))
                                {
                                    if (@sCN.entityCategory == "Outage")
                                    { <a style="text-decoration:none">Outage</a> }
                                    if (@sCN.entityCategory == "Major")
                                    { <a style="text-decoration:none"> Major</a> }
                                    if (@sCN.entityCategory == "Minor")
                                    { <a style="text-decoration:none"> Minor</a> }
                                }

                            </td>
                        </tr>

                    }
                </table>
            }

        </p>
    </div>
</div>
<hr />
<div class="row">
    <h4 style="color:lightcoral">Datasource Comments</h4>
    <p class="card-text" style="margin-left: 20px; margin-right: 20px;  padding-left:1em">
        @if (ViewBag.DSCMs.Count > 0)
        {
            <table id="ccc" class="table table-bordered table-striped">
                <tr>
                    <th>Time</th>
                    <th>User</th>
                    <th>Comment</th>
                </tr>
                @foreach (var cm in ViewBag.DSCMs)

                {
                    <tr>
                        <th>@cm.timestamp</th>
                        <th>@cm.user</th>
                        <th>@cm.Comment</th>
                    </tr>

                }
            </table>
        }


    </p>
</div>
<hr />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
