@model IEnumerable<CMDB01.Models.datasource>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/flipCards.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>*@

<link href="~/Content/chosen.min.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>
<h2>Datasources</h2>

<div class="row">
    <form class="navbar-form navbar-left">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    </form>
    <form class="navbar-form navbar-right" role="search">
        <div class="form-group form-inline">
            <input type="text" id="txtSearch" class="form-control" placeholder="Text Search ...">
        </div>
        <a class="btn btn-primary glyphicon glyphicon-search" id="btnSearch"></a>

        <br />
        <br />
        @foreach (var item in Model.OrderBy(x => x.Name).Select(a => a.Name.Substring(0, 1).ToUpper()).Distinct())
        {
            <a href="/datasources/index?StartWith=@item">@item</a>
        }
        <a href="/datasources/index">...</a>
    </form>
    <br />
</div>
<hr />

<div class="col-md-3">


    <h4>Search...</h4>
    @Html.ListBox("LinkedOptions", ViewBag.LinkedOptions as MultiSelectList, new { @id = "LinkedOptions", @class = "form-control chosen-select4", style = "width:300px;" })


    <a class="btn btn-warning glyphicon glyphicon-filter" id="btnFilter"></a>
    <a class="btn btn-danger glyphicon glyphicon-refresh" id="btnReset"></a>

    <hr />

    @*Hidden Fields*@
    <input type="hidden" name="Options" id="Options" />
    @*<input type="hidden" name="OptionsIds" id="OptionsIds" />*@


    @* Render Filter box before Showing the Cards *@
    <script>    $('#LinkedOptions').chosen();</script>
    @*<script> $('#multiSearch').chosen(); </script>*@
    @* ------------------------------------------ *@


    <h5>Data Center</h5>
    @foreach (var dc in Model.OrderBy(r => r.ServerFarm.DataCenter).Select(a => a.ServerFarm.DataCenter).Distinct())
    {
        if (!string.IsNullOrEmpty(dc))
        {
            <span class="badge badge-success">@dc</span>
            @*<a href="/datasources/index?dc=@dc">@dc</a> <br />*@
        }
        else
        {
            <span class="badge badge-success">null</span>
            @*<a href="/datasources/index?dc=null">null</a><br />*@
        }

    }
    <hr />
    <h5>Status</h5>
    @foreach (var st in Model.OrderBy(r => r.Status).Select(a => a.Status).Distinct())
    {
        if (!string.IsNullOrEmpty(st))
        {
            <span class="badge badge-primary">@st</span>
            @*<a href="/datasources/index?dsST=@st">@st</a> <br />*@
        }
        else
        {
            <span class="badge badge-primary">null</span>
            @*<a href="/datasources/index?dsST=null">null</a><br />*@
        }
    }
    <hr />

    <h5>Deployed Version</h5>
    @foreach (var ver in Model.OrderBy(r => r.ServerFarm.DeployedVersion).Select(a => a.ServerFarm.DeployedVersion).Distinct())
    {
        if (!string.IsNullOrEmpty(ver))
        {
            <span class="badge badge-warning">@ver</span>
            @*<a href="/datasources/index?dv=@ver">@ver</a> <br />*@
        }
        else
        {
            <span class="badge badge-warning">null</span>
            @*<a href="/datasources/index?dv=null">null</a><br />*@
        }
    }
    <hr />
    <h5>Account</h5>
    @foreach (var acc in Model.OrderBy(r => r.ServerFarm.account.Name).Select(a => a.ServerFarm.account.Name).Distinct())
    {
        if (!string.IsNullOrEmpty(acc))
        {
            <span class="badge badge-danger">@acc</span>
            @*<a href="/datasources/index?acc=@acc">@acc</a> <br />*@
        }
        else
        {
            <span class="badge badge-danger">null</span>
            @*<a href="/datasources/index?acc=null">null</a><br />*@
        }
    }
</div>




<div class="col-md-8">
    @foreach (var item in Model.OrderBy(a => a.Name))
    {
        <div>
            <div class="col-md-4">
                <div class="card-container manual-flip">
                    <div class="card">
                        <div class="front" style="overflow-y:auto">
                            <div class="card-block" style="margin-left: 10px; margin-right: 10px;">
                                @if (@item.Status != null && @item.Status.ToLower() == "decommissioned")
                                {
                                    <a class="btn-danger"><<  @item.Status.ToUpper() >></a> <br />
                                }

                                <button class="btn btn-xs btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                    <i class="glyphicon glyphicon-refresh"></i>
                                </button>
                                <a class="btn btn-simple btn-xs" rel="tooltip" title="Edit" href="@Url.Action("Edit", "datasources", new { id = item.Id})">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </a>
                                <a class="btn btn-simple btn-xs" rel="tooltip" title="Delete" href="@Url.Action("Delete", "datasources", new { id = item.Id })">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                                <button class="btn btn-simple btn-xs openComment" rel="tooltip" title="Comments" data-toggle="modal" data-target="#myModal" data-id=@item.Id data-name=@item.Name>
                                    <i class="glyphicon glyphicon-comment"></i>
                                </button>
                                <button class="btn btn-simple btn-xs openHistory" rel="tooltip" title="History" data-toggle="modal" data-target="#histModal" data-id=@item.Id data-name=@item.Name>
                                    <i class="glyphicon glyphicon-time"></i>
                                </button>

                                <br />
                                @*target="_blank"*@
                                <a class="card-title" style="color:cornflowerblue" href="/datasources/details/@item.Id">@item.Name</a>
                                <p class="card-text">
                                    @item.Description <br />
                                    @*<b>GUID:</b> <br /> @item.GUID <br />*@
                                    <b>Status:</b> @item.Status <br />
                                    <b>Purpose:</b> @item.Purpose <br />
                                    <b>Monitored?:</b> @item.Monitored <br />

                                </p>
                            </div>
                            <br />
                            <div class="card-block" style="margin-left: 10px; margin-right: 10px; overflow-y:auto">
                                <p class="card-text" style="padding:1em">

                                    <a title="Datasource Contacts" href="mailto:@item.datasourceEmails"><i class="glyphicon glyphicon-bullhorn" style="color:forestgreen"> </i></a>

                                    <b>Datasource Contacts:</b> <br />

                                    @foreach (var cn in @item.DatasourceContacts.Select(a => new { a.contact.Name, a.contact.email }).Distinct())
                                    {
                                        <span></span>
                                        <a title="Email" href="mailto:@cn.email">
                                            <i class="glyphicon glyphicon-envelope"></i>
                                        </a>
                                        <i class="glyphicon glyphicon-phone"></i>
                                        @cn.Name
                                        <br />
                                    }

                                </p>
                            </div>
                        </div>
                        <div class="back">
                            @if (@item.Status != null && @item.Status.ToLower() == "decommissioned")
                            {
                                <a class="btn-danger"><<<  @item.Status.ToUpper() >>></a> <br />
                            }
                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
                                <i class="glyphicon glyphicon-refresh"></i>
                            </button>

                            <div style="overflow-y:auto">

                                <p class="card-text" style="margin-left: 20px; margin-right: 20px;">
                                    <b>Server Farm Name:</b> <br /> <a href="/servers/details/@item.ServerFarm.Id">@item.ServerFarm.FQDN </a> <br />
                                    <b>FQDN:</b> @item.ServerFarm.FQDN <br />
                                    <b>Data Center:</b> @item.ServerFarm.DataCenter <br />
                                    <b>Deployed Version:</b> @item.ServerFarm.DeployedVersion <br />

                                    <br />
                                </p>
                                <p class="card-text" style="margin-left: 20px; margin-right: 20px;">
                                    <b>Account Name:</b> <a href="/accounts/details/@item.ServerFarm.account.Id">@item.ServerFarm.account.Name<br /></a>
                                    <br />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    }
</div>
<div class="row"></div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:850px">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Datasource Comments</h4>
            </div>
            <div class="modal-body">
                <div id="aaa">

                </div>
                <table id="ccc" class="table table-bordered">
                    <tr>
                        <th>Time</th>
                        <th>User</th>
                        <th>Comment</th>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="histModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:850px">

        <!-- Modal content-->
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Datasource History</h4>
            </div>
            <div class="modal-body">
                <div id="bbb">

                </div>
                <table id="records" class="table table-bordered">
                    <tr>
                        <th>Time</th>
                        <th>User</th>
                        <th>Property</th>
                        <th>From</th>
                        <th>To</th>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<script>
    $("#btnSearch").click(function () {
        window.location = "/datasources/index?SearchValue=" + $("#txtSearch").val();
    });


    $("#btnReset").click(function () {
        window.location = "/datasources/index";
    });

    function rotateCard(btn) {
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if ($card.hasClass('hover')) {
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    };


    $(document).on("click", ".openComment", function () {
        var DSId = $(this).data('id');
        var DSName = $(this).data('name');

        $(".modal-title").text("Datasource " + DSName + " Comments");
        var url = "@Url.Action("Create", "comments", new { entity_id = "js-id", entity = "Datasource" })".replace("js-id", encodeURIComponent(DSId));

        $("#aaa").empty();
        $("#aaa").append("<a href=" + url + " class=\"btn btn- simple\"><i class=\"glyphicon glyphicon-plus\"></i></a>");

        $.ajax({
            datatype: 'json',
            type: "POST",
            url: '@Url.Action("GetComments")',
            data: { DSId: DSId },
            success: function (returndata) {
                if (returndata.ok) {
                    //debugger;
                    var items = "";
                    items += "<tr> <th></th> <th>On</th> <th>By</th> <th>Type</th> <th>Comment</th> <th>URL</th> </tr>";                    $.each(returndata.data, function (i, itemdata) {
                        var date = new Date(parseInt(itemdata.timestamp.substr(6))).toLocaleDateString();
                        var LINK = "";
                        if (itemdata.Link) {
                            LINK = "<a target=\"_blank\" href='" + itemdata.Link + "'>" + "<i class='glyphicon glyphicon-globe'></i>" + "</a>";
                        }
                        var TYPE = "";
                        if (itemdata.Type) {
                            TYPE = itemdata.Type;
                        }
                        var featured = "";
                        if (itemdata.featured) {
                            featured = "<i class='glyphicon glyphicon-star' style='color:gold'></i>";
                        }
                        items += '<tr> <td>' + featured + '</td> <td>' + date + "</td> <td>" + itemdata.user + "</td> <td>" + TYPE + "</td> <td>" + itemdata.Comment + "</td> <td>" + LINK + " </td>";
                    });
                    $("#ccc").empty();
                    $("#ccc").append(items);

                }
            }
        });

    });


    $(document).on("click", ".openHistory", function () {
        var DSId = $(this).data('id');
        var DSName = $(this).data('name');

        $(".modal-title").text("Datasource " + DSName + " History");

        $.ajax({
            datatype: 'json',
            type: "POST",
            url: '@Url.Action("GetHistory")',
            data: { DSId: DSId },
            success: function (returndata) {
                if (returndata.ok) {
                    //debugger;
                    var items = "";
                    items += "<tr><th>Time</th><th>User</th><th>Property</th><th>From</th><th>To</th></tr>";
                    $.each(returndata.data, function (i, itemdata) {
                        var date = new Date(parseInt(itemdata.DateChanged.substr(6))).toLocaleDateString();

                        var user = "";
                        if (itemdata.UserName) {
                            user = itemdata.UserName;
                        }
                        var prop = "";
                        if (itemdata.PropertyName) {
                            prop = itemdata.PropertyName;
                        }
                        var old = "";
                        if (itemdata.OldValue) {
                            old = itemdata.OldValue;
                        }
                        var newVal = "";
                        if (itemdata.NewValue) {
                            newVal = itemdata.NewValue;
                        }

                        items += '<tr> <td>' + date + '</td> <td>' + user + "</td> <td>" + prop + "</td> <td>" + old + "</td> <td>" + newVal + "</td>";
                    });
                    $("#records").empty();
                    $("#records").append(items);

                }
            }
        });

    });


    $('#btnFilter').on("click", function (event, params) {
        var selectedDimensionValues = [];
        //push the selected Values to the Hidden iput tags - Softwares
        $("#LinkedOptions :selected").each(function () {
            selectedDimensionValues.push($(this).text());
        });

        //$("#OptionsIds").val(selectedDimensionValues);

        window.location = "/datasources/Index?Options=" + selectedDimensionValues;
    });


    //$('#btnFilter').on("click", function (event, params) {
    //    var selectedDimensionValues = [];
    //    //push the selected Values to the Hidden iput tags - Softwares
    //    $("#multiSearch :selected").each(function () {
    //        selectedDimensionValues.push($(this).val());
    //    });

    //    $("#Options").val(selectedDimensionValues);

    //    window.location = "/datasources/Index?Options=" + selectedDimensionValues;
    //});
</script>


@*<select multiple class="form-control chosen-select4" data-placeholder="Select Your Options" id="multiSearch" style="width:300px">
        <optgroup label="Status">
            @foreach (var st in Model.OrderBy(r => r.Status).Select(a => a.Status).Distinct())
            {
                if (!string.IsNullOrEmpty(st))
                {
                    <option value="dsST=@st">@st</option>
                }
                else
                {
                    <option value="dsST=null">null</option>
                }
            }
        </optgroup>
        <optgroup label="Data Centers">
            @foreach (var dc in Model.OrderBy(r => r.ServerFarm.DataCenter).Select(a => a.ServerFarm.DataCenter).Distinct())
            {
                if (!string.IsNullOrEmpty(dc))
                {
                    <option value="dc=@dc">@dc</option>
                }
                else
                {
                    <option value="dc=null">null</option>
                }

            }
        </optgroup>
        <optgroup label="Deployed Version">
            @foreach (var ver in Model.OrderBy(r => r.ServerFarm.DeployedVersion).Select(a => a.ServerFarm.DeployedVersion).Distinct())
            {
                if (!string.IsNullOrEmpty(ver))
                {
                    <option value="dv=@ver">@ver</option>
                }
                else
                {
                    <option value="dv=null">null</option>
                }
            }
        </optgroup>
        <optgroup label="Account">
            @foreach (var acc in Model.OrderBy(r => r.ServerFarm.account.Name).Select(a => a.ServerFarm.account.Name).Distinct())
            {
                if (!string.IsNullOrEmpty(acc))
                {
                    <option value="acc=@acc">@acc</option>
                }
                else
                {
                    <option value="acc=null">null</option>
                }
            }
        </optgroup>
    </select>*@